 <html>
  <head><title>Datos de passwd</title>
  <body>
   <TMPL_LOOP NAME="THIS_LOOP">
      User: <TMPL_VAR NAME="USER"><br>
      Data: <TMPL_VAR NAME="DATOS"><p>
   </TMPL_LOOP>
  </body>
  </html>